@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Questrial&display=swap');



:root{
  --font-heading: "Questrial", sans-serif;
  --font-body: "JetBrains Mono", monospace;;
  --primary-color : #FDC435;
  --text-light : #EEEEEE;
  --bg-color: #222831;
  --paper-color : #393E46;
    
}


[data-theme='light'] {
  /* Dark mode */
  --bg-color: #FFFAF0;
  --paper-color : #ffffff;
  --text-light: #121212;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
  max-width: 2200px;
  margin: auto;
}


.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2.2em;
  margin-right: 40px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2a2a;
  transition: 0.4s;
  border-radius: 30px;
  overflow: hidden;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.2em;
  width: 1.2em;
  border-radius: 20px;
  left: 0.5em;
  bottom: 0.5em;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
  box-shadow: inset 8px -4px 0px 0px #fff;
}

.switch input:checked + .slider {
  background-color: #FFFAF0;
}

.switch input:checked + .slider:before {
  transform: translateX(1.8em);
  box-shadow: inset 15px -4px 0px 15px var(--primary-color);
}

.star {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  width: 5px;
  transition: all 0.4s;
  height: 5px;
}

.star_1 {
  left: 2.5em;
  top: 0.5em;
}

.star_2 {
  left: 2.2em;
  top: 1.2em;
}

.star_3 {
  left: 3em;
  top: 0.9em;
}

.switch input:checked ~ .slider .star {
  opacity: 0;
}

.cloud {
  width: 3.5em;
  position: absolute;
  bottom: -1.4em;
  left: -1.1em;
  opacity: 0;
  transition: all 0.4s;
}

.switch input:checked ~ .slider .cloud {
  opacity: 1;
}


/* Target the whole scrollbar */
::-webkit-scrollbar {
  width: 10px;              /* width of vertical scrollbar */
  height: 100%;             /* height of horizontal scrollbar */
}

/* Track (background of scrollbar) */
::-webkit-scrollbar-track {
  background: var(--bg-color);      /* track color */
  border-radius: 6px;
}

/* Thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);   /* thumb color */
  border-radius: 6px;
  border: 3px solid #f0f0f0; /* space around thumb */
}

/* Thumb hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}
