@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Questrial&display=swap');



:root{
  --font-heading: "Questrial", sans-serif;
  --font-body: "JetBrains Mono", monospace;;
  --primary-color : #FDC435;
  --text-light : #EEEEEE;
  --bg-color: #222831;
  --paper-color : #393E46;
    
}


[data-theme='light'] {
  /* Dark mode */
  --bg-color: #FFFAF0;
  --paper-color : #ffffff;
  --text-light: #121212;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
  max-width: 2200px;
  margin: auto;
}


/* Target the whole scrollbar */
::-webkit-scrollbar {
  width: 10px;              /* width of vertical scrollbar */
  height: 100%;  
  z-index: -1;           /* height of horizontal scrollbar */
}

/* Track (background of scrollbar) */
::-webkit-scrollbar-track {
  background: var(--bg-color);      /* track color */
  border-radius: 6px;
}

/* Thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);   /* thumb color */
  border-radius: 6px;
}

/* Thumb hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}
